body {
	padding-bottom: 40px;
    padding-top: 60px;
}

.loading{
    float:right;
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 30%;
    background: url("../img/loading48.gif");
    background-size: 100%;
}